body {
  text-align: center;
  background: url('../images/bgfixed.gif');
  background-color: #141414;
  background-repeat: no-repeat;
  background-position: center;
  text-shadow: 0 0 10px rgba(255,255,255,1) , 0 0 20px rgba(255,255,255,1) , 0 0 30px rgba(255,255,255,1) , 0 0 40px #1ACCA1 , 0 0 70px #1ACCA1 , 0 0 80px #1ACCA1 , 0 0 100px #1ACCA1 ;
   -webkit-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
   -moz-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
   -o-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
   transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
}

@font-face {
	font-family: 'Julius Sans One', sans-serif;
 /* font-family: 'firstfont';*/
 /* src: url('../fonts/musicman.ttf');*/
}

.label {
	font-family: 'Monoton', cursive;
  font-size: 3.5em;
  font-weight: normal;
}
.back {
  font-size: 2.5em;
  padding-left: 5%;
  padding-top: 5%;
  position: relative;
  float: left;
}
.allbuttons {
	padding-top: 30%;
}
.button {
  background-color: black;
  opacity: 0.8;
  border-radius: 50%;
  vertical-align: middle;
}

.myButton {

    background-color:#ffffff;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-size:8px;
    padding:10% 10%;
    border-radius: 10px;
    border-width: 2px;
    text-shadow: : 50px;
    /*text-decoration:none;*/
}
.myButton:hover {
  /* IE10+ */
  background-image: -ms-radial-gradient(center, ellipse farthest-corner, #FFFFFF -30%, #2CB831 100%);

  /* Mozilla Firefox */
  background-image: -moz-radial-gradient(center, ellipse farthest-corner, #FFFFFF -30%, #2CB831 100%);

  /* Opera */
  background-image: -o-radial-gradient(center, ellipse farthest-corner, #FFFFFF -30%, #2CB831 100%);

  /* Webkit (Safari/Chrome 10) */
  background-image: -webkit-gradient(radial, center center, 0, center center, 286, color-stop(-30, #FFFFFF), color-stop(100, #2CB831));

  /* Webkit (Chrome 11+) */
  background-image: -webkit-radial-gradient(center, ellipse farthest-corner, #FFFFFF -30%, #2CB831 100%);

  /* W3C Markup */
  background-image: radial-gradient(ellipse farthest-corner at center, #FFFFFF -30%, #2CB831 100%);

    /*background-color:#5cbf2a;*/
}
.myButton:active {
    position:relative;
    top:1px;
}
