body {
  margin: 0 auto 0 auto;
  text-align: center;
  background: url('../bg.gif');
  background-repeat: no-repeat;
  background-position: center;
  background-color: #141414;
	background-attachment: fixed;
	/*overflow-y: hidden;*/
	overflow-x: hidden;
}

@font-face {
	font-family: 'Julius Sans One', sans-serif;
 /* font-family: 'firstfont';*/
 /* src: url('../fonts/musicman.ttf');*/
}

.label {
	font-family: 'Monoton', cursive;
  font-size: 4em;
  font-weight: normal;

}
.allbuttons {
	padding-top: 30%;
}
.button {
  background-color: black;
  opacity: 0.7;
  border-radius: 50%;
  vertical-align: middle;
}

.myButton {

    background-color:#ffffff;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-size:8px;
    padding:10% 10%;
    border-radius: 10px;
    border-width: 2px;
    text-shadow: : 50px;
    /*text-decoration:none;*/
}
.myButton:hover {
  /* IE10+ */
  background-image: -ms-radial-gradient(center, ellipse farthest-corner, #FFFFFF -30%, #2CB831 100%);

  /* Mozilla Firefox */
  background-image: -moz-radial-gradient(center, ellipse farthest-corner, #FFFFFF -30%, #2CB831 100%);

  /* Opera */
  background-image: -o-radial-gradient(center, ellipse farthest-corner, #FFFFFF -30%, #2CB831 100%);

  /* Webkit (Safari/Chrome 10) */
  background-image: -webkit-gradient(radial, center center, 0, center center, 286, color-stop(-30, #FFFFFF), color-stop(100, #2CB831));

  /* Webkit (Chrome 11+) */
  background-image: -webkit-radial-gradient(center, ellipse farthest-corner, #FFFFFF -30%, #2CB831 100%);

  /* W3C Markup */
  background-image: radial-gradient(ellipse farthest-corner at center, #FFFFFF -30%, #2CB831 100%);

    /*background-color:#5cbf2a;*/
}
.myButton:active {
    position:relative;
    top:1px;
}
